.skills__card{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    align-items: center;
    width: 25rem;
}

@media (max-width:425px) {
     .skills__card{
      width: 70%;
     }  
}