.navP__gitHub{
    display: flex;
    justify-content: center;
    padding-right: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--subtitle);
    border-right: 1px solid #1E282D;
}
.navP__gitHub:hover{
    background-color: #1E282D;
}