.container__CV{
    display: flex;
    width: auto;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--subtitle);
}
.container__CV:hover{
    background-color: #1E282D;
}