.subNav__link{
    display: flex;
    color:  #F0E6D2;
    align-items: center;
    transition: opacity 0.3s ease 0s;
    opacity: 0.5;
    text-decoration: none;
    height: 2.875rem;
}
.subNav__link:hover{
    opacity: 1;
}