.contact__container{
    display: flex;
    flex-direction: row;
    gap:15%;
    justify-content: center;
}

@media(max-width:768px){
    .contact__container{
        flex-direction: column;
        justify-content: center;
    }
}