.hobbies{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
@media(max-width:768px){
    .hobbies{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2.5rem;
    }
}