.hobbies__container--description{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

}


@media(max-width:768px){
    .hobbies__container--description{
        height: 2rem;
    }
}