.hobbies__container{
    display: flex;
    justify-content: space-around;
    gap: 15%;
    width: 100%;

}
@media (max-width:425px){
    .hobbies__container{
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    }
}