.projects__container--img{
    width: 53%;
    transition: all .5s ;
}
.projects__container--img:hover{
    width: 55%;

}

@media(max-width:768px){
    .projects__container--img{
        width: 100%;
    }
}