.projects{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
@media(max-width:1024px){
    .projects{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: .5rem;
    }
}