.formation__card{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    align-items: center;
    width: 25rem;
    transition: all .5s;
}

.formation__card:hover{
    width: 26rem;
}
@media (max-width:425px){
    .formation__card{
        width: 70%;
    }
    .formation__card:hover{
        width: 75%;
    }

}