@font-face {
    font-family: 'Beaufort';
    src: url(../fonts/Beaufort-Regular.otf);
}
:root{
    --html-background: rgb(1,10,19);
    --text:#A09B8C;
    --subtitle:#F0E6D2;
    --remark: #C89b3C;
    --divisiones:#5b5A56;
    --fontPrincipal: 'Beaufort','sans-serif';
    
}
html{
    font-family: var(--fontPrincipal);
    background-color: var(--html-background);
    color: var(--text) ;
    scroll-behavior: smooth;
}
.title{
    display: none;
}
.subtitle{
    padding: 1.5rem;
    margin: 1.5rem;
    font-size: 3em;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 700;
    text-transform:uppercase ;

    color: var(--subtitle);

}
.text{
    font-size: 1.8em;
    padding: 1rem 5rem .5rem 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: justify;

}
.remark{
    color: var(--remark);
}